doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // CSS only
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/urban.css')
    title Urban Farming Initiative
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid
        a.navbar-brand(href='index.html') Urban Farming Initiative
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active(aria-current='page' href='index.html') Home
                li.nav-item
                    a.nav-link(href='#') Link
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Account
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href='auth/login.html') Login
                        li
                            a.dropdown-item(href='auth/register.html') Sign Up
#img.container-fluid.img1
div
    h4.title.my-5(style='text-align: center') Join our network!
    #cards.row.py-3.m-5
        .col-4
            // <div class="container w-50 my-5 p-5">
            .row
                .col-12
                    .card.market-image
                        img.card-img-top(src='/images/img2.jpg' alt='...')
                        .card-body
                            h5.card-title What&apos;s on the market
                            p.card-text Connect with farmers in your area and buy the freshest produce.
                            .clear
                            a.btn.btn-primary.card-button(href='signIn.html') Shop with us
                // </div>
        .col-4
            .row
                .col-12
                    .card.market-image
                        // <img src="..//images/img5.jpg" class="card-img-top" alt="..."/>
                        img.card-img-top(src='https://d2v9ipibika81v.cloudfront.net/uploads/sites/42/Topista-Tukahirwa-31-planted-almost-9-acres-of-maize-in-her-garden.-She-said-the-hybrid-grains-when-planted-yield-bigger-and-heavier-corn--1140x684.jpg' alt='...')
                        .card-body
                            h5.card-title Display your produce
                            p.card-text
                                | Interact with prospective buyers, get updated on the latest farming trends and expand your reach.
                            .clear
                            a.btn.btn-primary.card-button(href='signIn.html') Join the Farmers&apos; network
        .col-4
            .row
                .col-12
                    .card.market-image
                        // <img src="..//images/img3.jpg" class="card-img-top" alt="..." />
                        img.card-img-top(src='https://images.unsplash.com/photo-1625246333195-78d9c38ad449?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YWdyaWN1bHR1cmV8ZW58MHx8MHx8&w=1000&q=80' alt='...')
                        .card-body
                            h5.card-title Monitor and advise
                            p.card-text
                                | Keep track of farmers in your region
                                | and share relevant information.
                            .clear
                            a.btn.btn-primary.card-button(href='signIn.html')
                                | Agricultural Officer
.clear1
// Footer
#footer.container-fluid
script(src='css/bootstrap/js/bootstrap.bundle.js')
