* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(0, 0, 0);
	text-align: right;
}

#footer {
	height: 300px;
	max-width: none;
	background-color: rgb(42, 42, 42);
}

.space {
	height: 120px;
}

.card {
	text-align: center;
	height: 500px;
	position: relative;
}

#cards {
	background-color: rgb(221, 221, 221);
}

.form {
	background-color: rgb(221, 221, 221);
	height: 600px;
}

#img {
	background-image: url(/images/img1.jpg);
	background-position: center;
	background-size: cover;
}

.img1 {
	height: 80vh;
	overflow: hidden;
}

.clear1 {
	content: "";
	height: 100px;
	background-color: rgb(221, 221, 221);
}

.clear {
	content: "";
	height: 50px;
}

.card-button {
	position: static;
	height: 75px;
	width: 170px;
	margin-right: 20px;
}

.card-text {
	text-align: justify;
}
.card-title {
	text-align: justify;
}

.container {
	width: 80%;
	height: 60%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 20px;
	background-color: rgb(221, 221, 221);
	position: relative;
	border-style: dotted;
	border-radius: 10px;
	border-color: black;
}

.container1 {
	width: 60vh;
	height: 80vh;
	background-color: rgb(221, 221, 221);
	position: relative;
}

.details {
	background-color: rgb(255, 255, 255);
	height: 40px;
	text-align: left;
	padding: 10px;
}

.container2 {
	width: 40vh;
	height: 80vh;
	border-width: 2px;
	border-color: black;
	align-content: center;
}
#imgPic {
	object-fit: cover;
}

#signIn {
	width: auto;
	height: 80vh;
	align-content: center;
}
#input {
	margin-left: 10px;
}
.row {
	padding-top: 30px;
	padding-left: 2px;
}
.signIn {
	position: static;
	height: 75px;
	width: 170px;
	margin-right: 50px;
	padding-top: 50px;
}
.dashBtn {
	position: static;
	height: 75px;
	width: 170px;
	margin-right: 50px;
	padding-top: 50px;
	text-decoration-color: white;
}
